@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.fcw-table {
    font-family: 'Source Sans Pro', 'Segoe UI', Tahoma, Geneva, Verdana,
        sans-serif;
    border: 1px solid #ecececff;
}

.fcwLink-Primary_outline {
    border: 1px solid #76b0faff;
    color: #007bff;
    border-color: #007bff;
}

.fcwLink-Primary_outline:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcwLink-Primary_outline:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.fcwLink-Primary {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
}

.fcwLink-Primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;  
}

.fcwLink-Primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.fcwLink-Primary:active {
    background-color: #ecececff;
}
