.fcw-table-base__more-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 20px;
}

.fcw-table-base__more-info__text {
    max-width: 400px;
}

.fcw-table-base__more-info__button {
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    .fcw-table-base__more-info {
        flex-direction: column;
        text-align: center;
    }

    .fcw-table-base__more-info button {
        margin-top: 20px;
    }
}